.wrapper {
    width: 80%;
    margin: auto;
    height: 250px;
    padding-top: 110px;
    left: 50%;
    font-family: Helvetica;
    font-size: 25px;
    text-align: center;
}

/* home page */
#discover-text {
    font-family: Tahoma; 
    font-size: 50px; 
    font-weight: 600;
}

#passport-text {
    font-family: Tahoma; 
    font-size: 50px; 
    display: inline-block; 
    margin-top: 15px;
    font-weight: 600;
}

#crafting-text {
    font-size: 16px; 
    margin-top: 35px;
    color: #999999;
}

.destination {
    text-align: left;
    font-size: 17.5px;
    width: 450px;
    height: 42px;
    padding-left: 20px;
    margin-left: 20px;
    margin-top: 45px;
    border-radius: 20px;
    border: 1px solid #90CAF9;
    box-shadow: 5px 5px #DDEFFD;
}

#date-div {
    margin: auto;
    width: 625px;
}

#start-date{
    text-align: left;
    font-size: 17.5px;
    width: 160px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 75px;
    border-radius: 20px;
    border: 1px solid #90CAF9;
    box-shadow: 5px 5px #DDEFFD;
}

#start-date:focus {
    color: #808080;
}

#end-date{
    text-align: left;
    font-size: 17.5px;
    width: 160px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-right: 77px;
    border-radius: 20px;
    border: 1px solid #90CAF9;
    box-shadow: 5px 5px #DDEFFD;
}

#end-date:focus {
    color: #808080;
}

.fa-arrow-right-long {
    color: #808080;
    margin-top: 30px;
    transform: translate(2px, 0px);
}

#plan-button {
    color: white;
    margin-top: 20px;
    height: 40px;
    width: 200px;
    font-size: 17.5px;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background-color: #90CAF9;
    border: none;
}

#plan-button:hover {
    color: white;
    background-color: #75A3C8;
}

/* signup and login page */
.title-container {
    height: 45px;
    margin: -25px auto 38px 50px;
    font-size: 32px;
    font-weight: 600;
    font-family: Tahoma; 
    line-height: 40px;
    padding-left: 25px;
    text-align: left;
    border-left: 7.5px solid #75A3C8;
}

.signup-div {
    width: 990px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    font-size: 0;
}

.login-div {
    width: 990px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    font-size: 0;
}

.signup-div h2 {
    font-size: 26px;
    color: #4178A4;
    margin-top: 15px;
    margin-bottom: 38px;
    margin-left: 51px;
    text-align: left;
}

.login-div h2 {
    font-size: 26px;
    color: #4178A4;
    margin-bottom: 70px;
    margin-top: 50px;
    margin-left: 51px;
    text-align: left;
}

.signup-form {
    display: inline-block;
    margin: 20px -15px 50px -15px;
    width: 420px;
    height: 465px;
}

.signup-img {
    display: inline-block;
    height: 535px;
    width: 600px;
    background-color: #BCDFFB;
    vertical-align: top;
    background-image: url("../img/signup.png");
    background-size: 600px;
    background-position: center;
    background-repeat: no-repeat;
}

.login-img {
    display: inline-block;
    height: 535px;
    width: 600px;
    background-color: #BCDFFB;
    vertical-align: top;
    background-image: url("../img/login.png");
    background-size: 550px;
    background-position: center;
    background-repeat: no-repeat;
}

.signup-info {
    width: 304px;
    font-size: 15px;
    font-family: Helvetica;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3) inset;
    height: 35px;
    padding-left: 15px;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 17px;
}

.login-info {
    width: 304px;
    font-size: 15px;
    font-family: Helvetica;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3) inset;
    height: 35px;
    padding-left: 15px;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.form-label {
    font-size: 16px;
    font-weight: 700;
    margin-left: 50px;
    margin-top: 20px;
}

.form-error {
    position: absolute;
    background-color: rgb(255, 95, 95);
    color: white;
    display: inline-block;
    font-size: 13px;
    padding: 9.5px;
    border-radius: 5px;
    margin: 6px 10px;
    max-width: 500px;
}

.signup-btn {
    width: 320px;
    height: 35px;
    border: none;
    background-color: #90CAF9;
    color: white; 
    font-size: 16px;
    font-weight: bold;
    margin-top: 22px;
    margin-left: 50px;
}

.login-btn {
    width: 320px;
    height: 35px;
    border: none;
    background-color: #90CAF9;
    color: white; 
    font-size: 16px;
    font-weight: bold;
    margin-top: 50px;
    margin-left: 50px;
}

.signup-btn:hover {
    background-color: #75A3C8;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #75A3C8;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.signup-to-login {
    font-size: 14px;
    line-height: 50px;
    text-align: left;
    margin-top: -12px;
    margin-left: 52px;
    color: gray;
}

.signup-to-login a:hover{
    color: #6d9dc5;
}

.signup-div .fa-solid.fa-xmark {
    position: absolute;
    font-size: 24px;
    color: #9d9d9d;
    padding: 10px;
    width: 26px;
    text-align: center;
    border-radius: 50%;
    transform: translate(946px, 0px);
}

.signup-div .fa-solid.fa-xmark:hover {
    background-color: #DDEFFD;
    cursor: pointer;
}

.login-div .fa-solid.fa-xmark {
    position: absolute;
    font-size: 24px;
    color: #9d9d9d;
    padding: 10px;
    width: 26px;
    text-align: center;
    border-radius: 50%;
    transform: translate(946px, 0px);
}

.login-div .fa-solid.fa-xmark:hover {
    background-color: #DDEFFD;
    cursor: pointer;
}

#message-div {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, 230px);
    z-index: 9;
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#message-div i {
    font-size: 70px;
    color: #75A3C8;
}

.fadeout-effect {
    animation: fadeOut 1s 1;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.account-btn {
    height: 40px;
    background-color: #DDEFFD;
    color: #5b91be;
    border: none;
    font-family: Verdana; 
    font-size: 14px;
    border-radius: 30px;
    text-align: left;
    float: right;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 15px;
}

.account-btn:hover {
    background-color: #b7ddfb;
    cursor: pointer;
}

.account-btn>i {
    font-size: 22px;
    color: #75A3C8;
}

#account-box {
    top: 60px;
    right: 12px;
    position: absolute;
    background-color: #75A3C8;
    font-family: Verdana; 
    font-size: 14px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#account-box>a {
    display: block;
    color: white;
    text-decoration: none;
    height: 40px;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 40px;
    background-color: #90CAF9;
    margin: 10px;
    border-radius: 10px;
}

#account-box>a:hover {
    background-color: #dadadac1;
}

.up-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid #75A3C8;
    left: 50%;
    transform: translate(-50%, -10px);
}

/* profile page */
#password-div {
    margin-top: 30px;
    display: none;
}

.profile-div {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 700px;
    padding: 50px 95px;
    margin: auto;
    font-size: 16px;
    font-family: Helvetica;
}

.profile-div .fa-solid.fa-xmark {
    position: absolute;
    font-size: 24px;
    color: #9d9d9d;
    padding: 10px;
    width: 26px;
    text-align: center;
    border-radius: 50%;
    transform: translate(400px, -51px);
}

.profile-div .fa-solid.fa-xmark:hover {
    background-color: #DDEFFD;
    cursor: pointer;
}

.profile-table {
    margin: -25px -10px;
}

.profile-table td {
    padding: 10px 5px;
    text-align: left;
}

.profile-table td:first-child {
    width: 180px;
}

.profile-table td:last-child {
    width: 470px;
}

.update-info {
    width: 85%;
    font-size: 15px;
    font-family: Helvetica;
    text-align: left;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3) inset;
    height: 35px;
    padding-left: 15px;
    margin-top: 5px;
}

.update-btn {
    background-color: #75A3C8;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    margin-bottom: -10px;
    width: 140px;
    text-align: center;
    float: right;
}

.update-btn:hover {
    cursor: pointer;
    background-color: #4985b6;
}

.label {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

#password-btn {
    background: none; 
    border: none;
    font-size: 14px;
    color: #808080;
    border-radius: 10px;
    padding: 10px 10px;
    margin-left: -10px;
    margin-top: -10px;
}

#password-btn:hover {
    background-color: #DDEFFD;
    cursor: pointer;
}

#updated-div {
    position: fixed;
    z-index: 11;
    background-color: white;
    border-radius: 10px;
    transform: translate(19%, -5px);
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#updated-div i {
    font-size: 70px;
    color: #75A3C8;
}

/* explore page */

.search-div {
    font-size: 16px;
    transform: translate(-55px, -70px);
}

#search-btn {
    position: absolute;
    transform: translate(10px, 48px);
    font-size: 13.5px;
    background-color: #90CAF9;
    border: none;
    padding: 10px 15px;
    box-shadow: 4px 4px #DDEFFD;
    border-radius: 10px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #75A3C8;
    color: white; 
    cursor: pointer;
}

.fa-location-dot {
    font-size: 16px;
    color: #90caf9;
    transform: translate(4px, 0px);
}

.location-name {
    font-size: 13.5px;
    font-family: Verdana;
}

.wrapper2 {
    width: 95%;
    margin: auto;
    font-size: 16px;
    font-family: Helvetica;
    margin-top: -45px;
}

.filter-section {
    font-size: 13.5px;
    display: inline-block;
    border-radius: 15px;
    width: 400px;
    transform: translate(40px, 0px);
}

.filter-title {
    font-size: 14px;
    width: 263px;
    height: 22px;
    background-color: #BCDFFB;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 23px;
    margin-right: 5px;
    font-weight: bold;
    transform: translate(-9px, 0px);
}

.filter-location {
    padding: 10px 40px 10px 40px;
    width: 250px;
}

.rating {
    width: 40px;
    background-color: #F9F9F9;
    border: 1px solid #9D9D9D;
    border-radius: 5px;
    height: 20px;
}

#apply-button {
    background-color: #75A3C8;
    margin-left: 35px;
    margin-bottom: 40px;
    border: none;
    height: 30px;
    width: 120px;
    color: white;
    font-size: 13.5px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    transform: translate(0px, -16px);
}

#apply-button:hover {
    background-color: #4985b6;
    cursor: pointer;
}

#reset-button {
    background-color: #ECECEC;
    margin-left: 40px;
    margin-bottom: 40px;
    border: none;
    height: 31px;
    width: 120px;
    color: #808080;
    font-size: 13.5px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    transform: translate(155px, -86.5px);
}

#reset-button:hover {
    background-color: #bfbfbf;
    color: white;
    cursor: pointer;
}

.location-list {
    float: right;
    width: 1050px;
    margin-left: -50px;
    transform: translate(-25px, 0px);
}

.attraction-filter-display {
    display: inline-block;
    height: 32px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    line-height: 32px;
    padding-left: 15px;
    color: #808080;
    width: 900px;
    margin-left: 70px;
}

.location-display {
    padding-left: 25px;
    margin-bottom: 50px;
}

.location-box {
    display: inline-block;
    width: 278px;
    line-height: 28px;
    margin: 15px 20px 15px 0;
    vertical-align: top;
    border: 1px solid #75A3C8;
    border-radius: 15px;
}

.location-box a {
    text-decoration: none;
}

.location-box:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.no-locations-display {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.no-locations-display img {
    margin-top: -5px;
    width: 280px;
    height: 280px;
}

.location-details {
    margin-top: 10px;
    margin-left: 17px;
    margin-right: 23px;
    white-space: normal;
    font-size: 13.5px;
    transform: translate(0px, -10px);
}

.location-box-img {
    background-color: #f0f0f0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transform: translate(-15.2px, -13.8px);
    margin-left: 15px; 
    margin-right: 15px;
    margin-bottom: -10.5px;
    width: 278.5px;
    height: 305px;
    object-fit: cover;
}

.location-title-div {
    position: relative;
    margin-bottom: 14px;
    margin-left: 20px;
    white-space: normal;
}

.location-title-container {
    line-height: 1.0em; 
    max-width: 250px;
    display: inline-block;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden; 
    transform: translate(0px, -5px);
}

.location-title {
    color: #4178A4;
    font-size: 14px;
    line-height: 1em;
}

.img_link {
    position: sticky;
    width: 167px;
    line-height: 30px;
    transform: translate(55px, -23px);
    text-align: center;
    border-radius: 10px;
    background: #20202070;
    color: #fff;
    font-size: 14px;
    margin: -30px 0 0 0;
    z-index: 9;
    visibility: visible;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.location-box:hover .img_link {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.add-btn {
    position: absolute;
    z-index: 2;
    float: right;
    background-color: #90CAF9;
    border: 2px solid #90CAF9;
    padding: 4px 6px; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 50%;
    transform: translate(220px, -5px);
}

.add-btn:hover {
    background-color: #4178A4;
    border: 2px solid #4178A4;
    cursor: pointer;
}

#login-required-div {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(20%, -1060px);
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    z-index: 9;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#login-required-div i {
    font-size: 70px;
    color: #75A3C8;
}

#location-added-div {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(20%, -1060px);
    width: 500px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    z-index: 11;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#location-added-div i {
    font-size: 70px;
    color: #75A3C8;
}

#max-div {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(20%, -1060px);
    width: 500px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    z-index: 11;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#max-div i {
    font-size: 70px;
    color: #75A3C8;
}

.add-text {
    padding-left: 12px; 
    height: 35px;
    line-height: 40px;
    color: #2c506d;
}

.add-div {
    position: absolute;
    z-index: 11;
    background-color: #90CAF9;
    transform: translate(89px, 24px);
    font-size: 14px;
    width: 160px;
    border-radius: 10px;
}

.add-div>a {
    font-size: 13px;
    display: block;
    color: black;
    text-decoration: none;
    text-align: left;
    line-height: 40px;
    padding-left: 12px;
    background-color: #90CAF9;
}

.add-div>a:hover {
    background-color: #b6dcfb;
}

.slide-btn {
    background-color: white;
    border: 3px solid #75A3C8;
    color: #75A3C8;
    width: 40px;
    height: 40px;
    line-height: 36.5px;
    text-align: center;
    font-size: 30px;
    vertical-align: top;
    display: inline-block;
    margin-top: 180px;
    cursor: pointer;
    border-radius: 10%;
    transform: translate(0px, 10px);
}

.slide-btn:hover {
    background-color: white;
    border: 3px solid #4178a4;
    color: #4178a4;
    cursor: pointer;
}

.location-display-block {
    width: max-content;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 15px;
    display: inline-block;
    scroll-behavior: auto;
}

.location-display-block::-webkit-scrollbar-track {
    border-radius: 5px;
}

.location-display-block::-webkit-scrollbar {
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    width: 13px;
}

.location-display-block::-webkit-scrollbar-thumb {
    background-color: #DDEFFD;
    border-radius: 20px;
}

/* location details page */

.wrapper3 {
    width: 95%;
    margin: auto;
    font-family: Helvetica;
    margin-top: -3px;
}

.details-display {
    float: right;
    width: 800px;
    text-align: left;
}

.details-div {
    width: 755px;
    transform: translate(17px, 0px);
    white-space: normal;
}

#details-title {
    font-size: 18px;
}

.images-div {
    float: left;
    height: 400px; 
    width: 300px;
    margin-left: 25px;
}

#img1 {
    background-color: #f0f0f0;
    width: 146px;
    height: 172px;
    margin-right: -7px;
    object-fit: cover;
    display: inline-block;
}

#img2 {
    background-color: #f0f0f0;
    width: 146px;
    height: 172px;
    object-fit: cover;
    display: inline-block;
}

#img3 {
    background-color: #f0f0f0;
    width: 292px;
    height: 172px;
    margin-top: -7px;
    object-fit: cover;
    display: inline-block;
}

#back-explore {
    text-decoration: none;
    margin-left: -940px;
    font-size: 14px;
    color: #808080;
}

#back-explore:hover {
    text-decoration: underline;
    color: #404040;
}

#see-photos {
    font-size: 13.5px;
    border: none;
    text-align: center;
    border-radius: 10px;
    background-color: #20202070;
    color: #fff;
    position: sticky;
    width: 100px;
    line-height: 30px;
    transform: translate(0px, -185px);
    cursor: pointer;
}

#see-photos:hover {
    background-color: #404040;
    cursor: pointer;
}

#photos-div {
    position: fixed;
    background-color: #202124;
    border-radius: 10px;
    transform: translate(15%, -530px);
    z-index: 11;
    width: 900px;
    height: 500px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.photos-btn {
    position: absolute;
    background-color: #242529;
    border: none;
    color: white;
    padding: 10px 16px;
    line-height: 5px;
    text-align: center;
    font-size: 30px;
    vertical-align: center;
    display: inline-block;
    margin-top: 180px;
    cursor: pointer;
    border-radius: 50%;
}

.photos-btn:hover {
    background-color: #3e3f42;
    cursor: pointer;
}

.photo-slide {
    background-color: #f0f0f0;
    height: 570px;
    max-width: 730px;
    margin-top: -70px;
    object-fit: cover;
    display: inline-block;
}

#see-reviews {
    background-color: transparent;
    border: none; 
    color: #7298E4;
}

#see-reviews:hover {
    text-decoration: underline;
    color: #2963d6;
    cursor: pointer;
}

#reviews-div {
    position: fixed;
    background-color: #202124;
    border-radius: 10px;
    transform: translate(22.5%, -530px);
    z-index: 11;
    width: 780px;
    height: 500px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#reviews-name {
    color: #BDC1C6;
    text-align: left;
    font-weight: normal;
    font-size: 25px;
    transform: translate(45px, -63px);
}

#rewiews-address {
    color: #9AA0A6;
    text-align: left;
    font-weight: normal;
    font-size: 13.5px;
    transform: translate(45px, -85px);
}

#reviews-rating {
    color: #9AA0A6;
    text-align: left;
    font-weight: normal;
    transform: translate(45px, -90px);
}

.review-text {
    color: #BDC1C6;
    text-align: left;
    border-top: 2px solid #3C4043;
    width: 665px;
    font-size: 14px;
    margin-bottom: -54px;
    transform: translate(0px, 0px);
}

.review-box {
    text-align: left;
    transform: translate(43px, -150px);
    font-weight: normal;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 380px;
    width: 700px;
}

.review-box::-webkit-scrollbar-track {
    border-radius: 5px;
}

.review-box::-webkit-scrollbar {
    border: 1px solid #3C4043;
    border-radius: 20px;
    width: 13px;
}

.review-box::-webkit-scrollbar-thumb {
    background-color: #484d51;
    border-radius: 20px;
}

.author-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
    display: inline-block;
    margin-top: 23px;
}

.author-text {
    font-size: 13.5px; 
    transform: translate(47px, -70px); 
    color: #BDC1BC; 
    margin-right: 45px;
}

#description {
    font-size: 14px;
    white-space: normal;
    line-height: 1.35em;
    text-align: justify;
}

#website {
    text-decoration: none;
    color: black;
}

#website:hover {
    text-decoration: underline;
}

.add-to-btn {
    background-color: #75A3C8;
    color: white;
    float: right;
    text-align: center;
    width: 100px;
    border: none;
    padding: 8px 5px;
    font-size: 13.5px;
    font-weight: bold;
}

.add-to-btn:hover {
    cursor: pointer;
    background-color: #4985b6;
}

.other-details {
    font-size: 14px;
    margin-top: 10px;
}

#login-required-div1 {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(-10%, -40px);
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    z-index: 9;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#login-required-div1 i {
    font-size: 70px;
    color: #75A3C8;
}

#location-added-div1 {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(-10%, -40px);
    width: 500px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    z-index: 9;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#location-added-div1 i {
    font-size: 70px;
    color: #75A3C8;
}

#max-div1 {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(-10%, -40px);
    width: 500px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    z-index: 9;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#max-div1 i {
    font-size: 70px;
    color: #75A3C8;
}

.nearby-title {
    display: inline-block;
    height: 32px;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    line-height: 28px;
    padding-left: 15px;
    color: #808080;
    width: 740px;
    text-align: left;
    margin-left: 24px;
}

.nearby-div {
    transform: translate(153px, -61px);
}

.nearby-display-block {
    width: max-content;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 15px;
    display: inline-block;
    scroll-behavior: auto;
}

.nearby-display-block::-webkit-scrollbar-track {
    border-radius: 5px;
}

.nearby-display-block::-webkit-scrollbar {
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    width: 13px;
}

.nearby-display-block::-webkit-scrollbar-thumb {
    background-color: #DDEFFD;
    border-radius: 20px;
}

/* trips page */ 
.trips-div {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 800px;
    padding: 50px 40px;
    margin: auto;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: Helvetica;
}

.trip-categories {
    overflow: hidden;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 225px;
    float: left; 
    height: 42px;
    display: flex;
    align-items: center;
    transform: translate(7px, 0px);
}

.trip-categories button {
    background-color: inherit;
    height: 32px;
    float: left;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
}

.trip-categories button:hover {
    background-color: #f1f1f1;
}

.trip-categories button.active {
    background-color: #BCDFFB;
    color: #335d80;
}

.add-trip-btn {
    background-color: #75A3C8;
    border: 2px solid #75A3C8;
    color: white; 
    padding: 4px 7px; 
    font-size: 22px; 
    cursor: pointer; 
    border-radius: 50%;
    float: right;
}

.add-trip-btn:hover {
    background-color: #4178A4;
    border: 2px solid #4178A4;
    cursor: pointer;
}

.trip-display {
    width: 800px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: -5px;
}

.trip-display-block {
    width: max-content;
    max-width: 667px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    padding-left: 15px;
    display: inline-block;
    scroll-behavior: smooth;
}

.trip-display-block::-webkit-scrollbar-track {
    border-radius: 5px;
}

.trip-display-block::-webkit-scrollbar {
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    width: 13px;
}

.trip-display-block::-webkit-scrollbar-thumb {
    background-color: #DDEFFD;
    border-radius: 20px;
}

.trip-box {
    display: inline-block;
    width: 312px;
    line-height: 28px;
    margin: 15px 20px 15px 0;
    vertical-align: top;
    border: 1px solid #75A3C8;
}

.trip-box a {
    text-decoration: none;
}

.trip-box:hover {
    box-shadow: 0px 0px 10px 0px #75A3C8;
}

.trip-details {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: left;
    white-space: normal;
    font-size: 14px;
    transform: translate(0px, -10px);
}

.trip-box-img {
    background-color: #f0f0f0;
    margin-top: 17px;
    margin-left: 12px; 
    margin-right: 12px;
    width: 280px;
    height: 200px;
    object-fit: cover;
    border-radius: 8%;
}

.no-trip-img {
    width: 280px;
    height: 280px;
}

.trip-title-div {
    margin-top: 3px;
    margin-bottom: 17px;
    margin-left: 20px;
    white-space: normal;
    text-align: left;
}

.trip-title {
    transform: translate(0px, 10px);
    color: #4178A4;
    font-size: 15px;
    width: 200px;
}

.img_link1 {
    position: sticky;
    width: 145px;
    line-height: 30px;
    transform: translate(85px, -23px);
    text-align: center;
    border-radius: 10px;
    background: #75A3C8;
    color: #fff;
    font-size: 14px;
    margin: -30px 0 0 0;
    visibility: visible;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.trip-box:hover .img_link1 {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.delete-btn {
    background-color: transparent;
    border: 2px solid transparent;
    color: #ff1a1a; 
    padding: 8px 12px; 
    font-size: 20px; 
    cursor: pointer; 
    transform: translate(13px, 3px);
}

.delete-btn:hover {
    background-color: #ffcccc;
    border: 2px solid #ffcccc;
    color: #e60000;
    padding: 8px 12px;  
    border-radius: 50%;
    cursor: pointer;
}

#added-div {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(30%, -420px);
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#added-div i {
    font-size: 70px;
    color: #75A3C8;
}

#deleted-div {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(30%, -420px);
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#deleted-div i {
    font-size: 70px;
    color: #75A3C8;
}

/* trip details page */ 

.trip-block {
    background-color: #75A3C8; 
    color: white;
    border: none;
    width: 500px;
    padding-top: 12px; 
    padding-bottom: 12px;
    margin: auto;
    margin-top: -28px;
    margin-bottom: 30px;
}
.trip-name {
    font-family: Tahoma; 
    font-size: 30px;
    font-weight: 500;
}

.trip-date {
    font-size: 15px;
}

.trip-details-div {
    box-shadow: 5px 5px 3px #CACACA;    
    border: 4px solid #ECECEC; 
    width: 694px;
    padding: 50px 95px;
    margin: auto;
    font-size: 16px;
    font-family: Helvetica;
    margin-top: 74px;
    transform: translate(0px, -0.5px);
}

#upload-btn {
    border: none;
    border-radius: 5px;
    background: #ECECEC;
    color: #595959;
    padding: 5px 10px;
    display: inline-block;
    font-size: 13.5px;
    cursor: pointer; 
    margin-left: 5px;
}

#upload-btn:hover {
    background: #bfbfbf;
    color: white;
    cursor: pointer;
}

input[type=file]::file-selector-button {
    border: none;
    background: #b7ddfb;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 8px;
}
  
  input[type=file]::file-selector-button:hover {
    background: #87c7f8;
  }

.page-tabs {
    width: 886.5px;
    overflow: hidden;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 150px;
    float: left; 
    height: 50px;
    display: flex;
    align-items: center;
}

.page-tabs button {
    background-color: #ECECEC;
    float: left;
    color: grey;
    font-size: 17px;
    border-left: 4px solid #ECECEC; 
    border-right: 4px solid #ECECEC; 
    border-top: 4px solid #ECECEC; 
    border-bottom: none;
    outline: none;
    padding: 12px 94.6px;
    text-align: center;
    line-height: 12px;
}

.page-tabs button:hover:enabled {
    background-color: #CCCCCC;
    cursor: pointer;
}

.page-tabs button.active {
    background-color: white;
    color: #4178A4;
}

.page-tabs button.active:hover {
    background-color: white;
    color: #4178A4;
}

.empty-div {
    background-color: white;
    width: 268.2px; 
    height: 10px;
    position: absolute;
    z-index: 1;
    transform: translate(159px, 40px);
}

.details-table {
    margin: auto;
    margin-left: 130px;
    margin-top: -28px;
    width: 485px;
}

.details-table td {
    padding: 10px 5px;
    text-align: left;
}

/* locations page */
.empty-div2 {
    background-color: white;
    width: 293px; 
    height: 10px;
    position: absolute;
    z-index: 1;
    transform: translate(449px, 40px);
}

.locations-div {
    box-shadow: 5px 5px 3px #CACACA;    
    border: 4px solid #ECECEC; 
    width: 693.2px;
    padding: 50px 95px;
    margin: auto;
    font-size: 16px;
    font-family: Helvetica;
    margin-top: 74px;
    padding-bottom: 80px;
    transform: translate(-1px, -0.5px);
}

.edit-btn {
    background: none; 
    border: none;
    color: #75A3C8; 
    padding: 6px 8px; 
    font-size: 15px;
    cursor: pointer; 
    border-radius: 50%;
    transform: translate(5px, 0px);
}

.edit-btn:hover {
    background-color: #DDEFFD;
    color: #4178A4; 
    cursor: pointer;
}

#save-btn {
    border: none;
    border-radius: 5px;
    background: #ECECEC;
    color: #595959;
    padding: 5px 10px;
    display: inline-block;
    font-size: 13.5px;
    cursor: pointer; 
    margin-left: 5px;
    transform: translate(0, -2px);
}

#save-btn:hover {
    background: #bfbfbf;
    color: white;
    cursor: pointer;
}

#removed-div {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(19%, -500px);
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#removed-div i {
    font-size: 70px;
    color: #75A3C8;
}

#insufficient-div {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(19%, -500px);
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#insufficient-div i {
    font-size: 70px;
    color: #75A3C8;
}

#preferences-div {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(19%, -500px);
    width: 500px;
    padding-bottom: 60px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#preferences-div i {
    font-size: 70px;
    color: #75A3C8;
}

.plan-btn {
    background-color: #75A3C8;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    padding-right: 18px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    float: right;
    text-align: center;
    transform: translate(37px, 0px); 
    width: 153px;
}

.plan-btn:hover {
    cursor: pointer;
    background-color: #4985b6;
}

.waypoints-div {
    width: 750px;
}

.waypoints-title {
    margin-bottom: 8px;
    margin-left: 13px;
}

.attractions-div {
    border: 1px solid #75A3C8;
    border-radius: 10px;
    width: 370px;
    height: 370px;
    transform: translate(-35px, 0px);
}

.attractions-title {
    margin-top: 15px;
    margin-bottom: 12px;
    margin-left: 24px
}

.attractions {
    height: max-content;
    max-height: 315px;
    margin-top: 5px;
    margin-bottom: 12px;
    margin-left: 2px;
    margin-right: 26px;
    width: 326px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: nowrap;
    padding-left: 15px;
    display: inline-block;
    scroll-behavior: smooth;
    text-align: left;
}

.attractions::-webkit-scrollbar-track {
    border-radius: 5px;
}

.attractions::-webkit-scrollbar {
    border: 1px solid #bfbfbf;
    border-radius: 20px;
    width: 13px;
}

.attractions::-webkit-scrollbar-thumb {
    background-color: #DDEFFD;
    border-radius: 20px;
}

.attractions-box {
    width: 272px;
}

.restaurants-div {
    border: 1px solid #75A3C8;
    border-radius: 10px;
    width: 370px;
    height: 370px;
    transform: translate(-15px, 0px);
}

.add-location-btn {
    background-color: #75A3C8;
    border: 2px solid #75A3C8;
    color: white; 
    padding: 2px 4px; 
    font-size: 12px;
    cursor: pointer; 
    border-radius: 50%;
    transform: translate(10px, -2px);
}

.add-location-btn:hover {
    background-color: #4178A4;
    border: 2px solid #4178A4;
    cursor: pointer;
}

.waypoint {
    font-size: 15px;
    font-family: Helvetica;
    background-color: #BCDFFB;
    color: #333333;
    font-weight: normal;
    border-radius: 20px;
    border: none;
    max-width: 245px;
    line-height: 35px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 9px;
    display: inline-block;
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden; 
}

.remove-btn {
    background-color: white;
    border: 2px solid #ff1a1a;
    color: #ff1a1a; 
    padding: 2px 4px; 
    font-size: 12px;
    cursor: pointer; 
    border-radius: 50%;
    transform: translate(5px, -14px);
}

.remove-btn:hover {
    border: 2px solid #990000;
    color: #990000;
    cursor: pointer;
}

/* itinerary page */
.empty-div3 {
    background-color: white;
    width: 280px; 
    height: 10px;
    position: absolute;
    z-index: 1;
    transform: translate(762.5px, 40px);
}

.itinerary-div {
    box-shadow: 5px 5px 3px #CACACA;    
    border: 4px solid #ECECEC; 
    width: 693.2px;
    padding: 50px 95px;
    margin: auto;
    font-size: 16px;
    font-family: Helvetica;
    margin-top: 74px;
    transform: translate(-0.5px, -0.5px);
}

.day-slider {
    overflow: hidden;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 225px;
    float: left; 
    height: 42px;
    display: flex;
    align-items: center;
    transform: translate(-200px, -40px);
}

.day-slider button {
    background-color: inherit;
    float: left;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    margin-right: 5px;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
}

.day-slider button:hover {
    background-color: #f1f1f1;
}

.day-slider button.active {
    background-color: #BCDFFB;
    color: #335d80;
}

.table-div {
    border: 2px solid #BCDFFB; 
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.itinerary-list {
    margin-left: -15px;
    margin-top: 10px;
    margin-bottom: 7px;
    width: 670px;
    white-space: nowrap;
    display: inline-block;
    text-align: left;
}

.itinerary-table {
    font-size: 12px;
    color: #B7B7B7;
    text-align: left;
    border-collapse: separate;
    border-spacing: 20px 0px;
    margin-top: 5px;
}

.table-title {
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #BCDFFB;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.itinerary-table td {
    vertical-align: top;
}

.bed-icon {
    font-size: 14px;
    line-height: 16px;
    color: white;
    border: 1px solid #FF9999;
    background-color: #FF9999;
    padding: 5px 9px;
    border-radius: 50%;
    transform: translate(0px, -5px);
}

.eat-icon {
    font-size: 14px; 
    line-height: 16px;
    color: white;
    border: 1px solid #FFC266;
    background-color: #FFC266;
    padding: 5px 9px;
    border-radius: 50%;
    transform: translate(0px, -5px);
}

.attraction-icon {
    font-size: 14px;
    line-height: 16px; 
    color: white;
    border: 1px solid #85E085;
    background-color: #85E085;
    padding: 5px 9px;
    border-radius: 50%;
    transform: translate(0px, -5px);
}

.time-span {
    font-size: 14px;
    color: black;
}

.location-span {
    font-size: 16px;
    color: black;
}

.hours-div {
    transform: translate(0px, 5px);
}

.hours-span {
    color: #8c8c8c;
}

.duration-span {
    color: #8c8c8c;
}

.left-dashed {
    width: 190px; 
    height: 1px;
    background-image: linear-gradient(to right, #999999 30%, rgba(255, 255, 255, 0) 0%);
    background-size: 10px 3px;
    transform: translate(0px, 23px);
}

.right-dashed {
    width: 335px; 
    height: 1px;
    background-image: linear-gradient(to right, #999999 30%, rgba(255, 255, 255, 0) 0%);
    background-size: 10px 3px;
    transform: translate(115px, -6px);
}

.vertical-line {
    height: 48px; 
    border-left: 1px solid #999999;
    transform: translate(13.5px, -5px);
}

.edit-div {
    position: absolute;
    z-index: 19;
    color: black;
    background-color: white;
    transform: translate(460px, -79px);
    font-size: 14px;
    width: 290px;
    border: 1px solid #75A3C8;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 12px;
}

.waypoint-text {
    color: #4178A4;
    text-align: center;
   
    white-space: nowrap; 
    text-overflow: ellipsis;
    overflow: hidden; 
    max-width: 250px;
    padding-left: 20px;
    padding-right: 20px;
}

.save-btn1 {
    background-color: #75A3C8;
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    float: right;
    text-align: center;
    transform: translate(-30px, -5px); 
}

.save-btn1:hover {
    cursor: pointer;
    background-color: #4985b6;
}

#itinerary-edited-div {
    position: fixed;
    z-index: 9;
    background-color: white;
    border-radius: 10px;
    transform: translate(19%, -65px);
    width: 500px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#itinerary-edited-div i {
    font-size: 70px;
    color: #75A3C8;
}

#select-div {
    position: fixed;
    z-index: 9;
    background-color: white;
    border-radius: 10px;
    transform: translate(19%, -65px);
    width: 500px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    padding-bottom: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#select-div i {
    font-size: 70px;
    color: #75A3C8;
}

#confirmation-popup {
    position: fixed;
    z-index: 9;
    background-color: white;
    border-radius: 10px;
    transform: translate(19%, -65px);
    width: 500px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#confirmation-popup i {
    font-size: 70px;
    color: #75A3C8;
}

#yes-btn {
    background-color: #00e600;
    border: none;
    border-radius: 10px;
    width: 80px;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    text-align: center;
    transform: translate(-10px, 0px); 
}

#yes-btn:hover {
    cursor: pointer;
    background-color: #00b300;
}

#no-btn {
    background-color: #ff0000;
    border: none;
    border-radius: 10px;
    width: 80px;
    padding: 8px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    text-align: center;
    transform: translate(10px, 0px); 
}

#no-btn:hover {
    cursor: pointer;
    background-color: #b30000;
}

#planning-div {
    position: fixed;
    background-color: white;
    border-radius: 10px;
    transform: translate(19%, -500px);
    width: 500px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 70px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}